#mapbox {
  width: 800px;
  height: 600px;
}


.leaflet-interactive:focus {
  outline: none;
}

#info {
  font-family: Consolas, "Courier New", monospace;
}


#info {
  font-family: Consolas, "Courier New", monospace;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.country-label {
  font-family: Consolas, monospace;
  font-size: 14px;
  font-weight: bold;
  color: #111;
  background: transparent;
  border: none;
  box-shadow: none;
}